* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*=================================================================== HEADER========================================================= */
/* En bashda stil verecem li ul ve geri qalan shapkalara hamisi burada olacaq */
#nav_bars {
  width: 100%;

  display: flex;
  padding-top: 12px;
  /* align-items: center; */
  /* position: fixed; */
}

.menu_list {
  display: flex;
  justify-content: space-around;
}
.menu_list ul {
  list-style: none;
}

.menu_list ul li {
  display: inline;
  /* margin-right: 6px; */
}
.menu_list ul li a {
  color: #333333;
  text-decoration: none;
  padding: 10px;
  letter-spacing: 0.2px;
  font-size: 15px;
  font-weight: 500;
}

.nav-home:hover {
  border-bottom: 2px solid #000;
}
.nav-news:hover {
  border-bottom: 2px solid red;
}
.nav-sport:hover {
  border-bottom: 2px solid yellow;
}
.nav-reel:hover {
  border-bottom: 2px solid rgb(77, 77, 247);
}
.nav-worklife:hover {
  border-bottom: 2px solid blue;
}
.nav-travel:hover {
  border-bottom: 2px solid rgb(36, 122, 36);
}
.nav-future:hover {
  border-bottom: 2px solid rgb(0, 40, 86);
}
.nav-culture:hover {
  border-bottom: 2px solid rgb(72, 40, 120);
}
.nav-more:hover {
  border-bottom: 2px solid #000;
}

.form_navs input {
  padding-left: 5px;
  color: #000;
  outline: none;
  border: 1px solid;
  border-radius: 4px;
  background-color: rgb(197, 196, 196);
}
.container-fluid {
  background-color: #ffd230;
  height: 107px;
}
.container-fluid h2 {
  letter-spacing: 1px;
  color: #000;
  font-size: 36px;
  padding-top: 5px;
  font-weight: 700;
}
.navs_categories ul li {
  display: inline-block;
  list-style: none;
  letter-spacing: 0.5px;
  font-size: 15px;
  margin-right: 5px;
}
.all_sport {
  float: right;
}
.navs_categories ul li a {
  color: #000;
  font-weight: 500;
  letter-spacing: 0.2px;
  text-decoration: none;
}
.navs_categories ul li a:hover {
  border-bottom: 4px solid #000;
}
/* ======================================================================================================================================
===========================================NEWS CARDS============================================================================================
========================================================================================================================================== */
.card_news iframe {
  border: none;
}

.card_news {
  padding: 5px;
}
.card_body a {
  color: #000;
  font-size: 18px;
  letter-spacing: 1px;
}
.card_body i {
  color: grey;
  font-size: 12px;
}
.hour {
  color: grey;
  padding-left: 3px;
  font-size: 13px;
}
.card_body span a {
  font-size: 13px;
  padding-left: 10px;
  color: rgb(46, 148, 138);
}
/* ======================================================================================================================================
===========================================SECTION SECOND Insight: Must-read sporting stories============================================================================================
========================================================================================================================================== */
h4 {
  color: #000;
}
.insight_must a {
  color: black;
  font-weight: 700;
}
/* ======================================================================================================================================
===========================================SECTION THIRD MORE TOP STORIES============================================================================================
========================================================================================================================================== */
.top_main:hover {
  cursor: pointer;
}
.head_p a {
  color: #000;
  font-size: 25px;
  font-weight: 700;
}
.text_p {
  color: grey;
  font-size: 13px;
}
span a {
  color: rgb(46, 148, 138);
  font-size: 14px;
}
.top_stories span a {
  color: rgb(46, 148, 138);
  font-size: 12px;
  font-weight: 400;
}
.top_stories a {
  color: #000;
  font-weight: 700;
}
/* ======================================================================================================================================
===========================================SECTION FOURTH MORE VIDEOS============================================================================================
========================================================================================================================================== */
.more_video span a {
  color: rgb(46, 148, 138);
  font-size: 12px;
  font-weight: 400;
}
iframe {
  border: none;
}
.more_video a {
  color: #000;
  font-weight: 700;
}
/* ======================================================================================================================================
===========================================SECTION FIFTH MORE TO explore============================================================================================
========================================================================================================================================== */
.top_main:hover {
    cursor: pointer;
  }
  .head_p a {
    color: #000;
    font-size: 25px;
    font-weight: 700;
  }
  .text_p {
    color: grey;
    font-size: 13px;
  }
  span a {
    color: rgb(46, 148, 138);
    font-size: 14px;
  }
  .more_explore span a {
    color: rgb(46, 148, 138);
    font-size: 12px;
    font-weight: 400;
  }
  .more_explore a {
    color: #000;
    font-weight: 700;
  }
  .top_main i{
      font-size: 13px;
  }
/* ===================================================================================Time to spare? Try our quizzes====================================================================================
======================================================================================SECTION ten========================================== */
h4 {
    color: #000;
  }
  .time_spare a {
    color: black;
    font-weight: 700;
  }
  .time_spare span a{
    color: rgb(46, 148, 138);
    font-size: 12px;
    font-weight: 400;
  }
  /* ===================================================================================African sport====================================================================================
======================================================================================SECTION eleven========================================== */
h4 {
    color: #000;
  }
  .african_sport a {
    color: black;
    font-weight: 700;
  }
  .african_sport span a{
    color: rgb(46, 148, 138);
    font-size: 12px;
    font-weight: 400;
  }
/* ===================================================================================Find here====================================================================================
======================================================================================SECTION====================================================== */

  .twitter i {
    font-size: 45px;
    padding: 15px;
    color: rgb(55, 215, 243);
  }
  
  .twitter i:hover {
    background-color: rgb(55, 215, 243);
    color: #fff;
    cursor: pointer;
    width: 70px;
    border-radius: 8px;
    height: 70px;
    transition: 0.3s ease-in-out;
  }
  .facebook i{
    font-size: 45px;
    padding: 15px 20px;
    color: rgb(14, 10, 240);
  }
  .facebook i:hover {
    background-color:rgb(14, 10, 240);
    color: #fff;
    cursor: pointer;
    width: 70px;
    border-radius: 8px;
    height: 70px;
    transition: 0.3s ease-in-out;
  }
  .instagram i{
    font-size: 45px;
    padding: 15px 15px;
    color: #D93175;
  }
  .youtube i{
    font-size: 45px;
    padding: 15px 10px;
    color: #FF0000;
  }
  .youtube i:hover {
    background-color:#FF0000;
    color: #fff;
    cursor: pointer;
    width: 70px;
    border-radius: 8px;
    height: 70px;
    transition: 0.3s ease-in-out;
  }
  .instagram i:hover {
    background-color:#D93175;
    color: #fff;
    cursor: pointer;
    width: 70px;
    border-radius: 8px;
    height: 70px;
    transition: 0.3s ease-in-out;
  }
  .news_daily h5{
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.2px;
  }
  .news_daily i{
    font-size: 25px;
    color: rgb(99, 97, 97);
  }

  .link a{
      font-size: 13px;
      font-weight: 700;
      color: black;
  }
  /*===========================================FOOOOOTTTTTTTEEEEEERRR============================================================================================
========================================================================================================================================== */
footer{
    background-color: #4C4C4C;
  }
  .head_footer{
    color: white;
    padding-top: 20px;
  }
  .div_col a{
    color: white;
    font-weight: 600;
    font-size: 14px;
  }
  .div_col a:hover{
    color: white;
  }
  
  .list_footer{
  list-style: none;
  display: inline-flex;
  }
  .list_footer a{
  color: white;
  margin-right: 9px;
  font-size: 13px;
  }
  .list_footer a:hover{
    color: white;
    }
    footer p{
      color: white;
      font-size: 14px;
  
    }
    footer p span{
      color: white;
      font-weight: 500;
      font-size: 14px;
    }